.table {
  color: #7e87a1;
  font-family: Roboto;
  z-index: 6;
  background-color: #ffff;
  height: 42%;
  width: 78%;
  position: absolute;
  margin-left: 250px;
  margin-top: 320px;
}
.Files {
  margin-left: 10px;
  position: absolute;
  font-size: 1.2rem;
}
